<footer class="usa-footer site-footer" role="contentinfo">
  <div class="footer-section-bottom bg-base-lighter">
    <div class="grid-container">
      <div class="grid-row grid-gap padding-3">
        <div class="tablet:grid-col-3">
          <div class="logo-links">
            <a class="footer-logo media_link" href="https://www.whitehouse.gov/omb/">
              <img src="/assets/images/omb.svg" width="100" alt="Office of Management and Budget" >
            <a>
            <a class="footer-logo media_link" href="https://cisa.gov">
              <img src="/assets/images/cisa.svg" width="100" alt="Cybersecurity and Infrastructure Security Agency" />
            </a>
          </div>
        </div>
        <div class="tablet:grid-col-5">
          <ul class="add-list-reset">
            <li>This website is maintained by the <a href="https://www.whitehouse.gov/omb/" target="_blank">Office of Management and Budget</a> and the <a href="https://cisa.gov" target="_blank">Cybersecurity and Infrastructure Security Agency</a>.</li>
          </ul>
        </div>
        <div class="tablet:grid-col-4">
          <ul class="add-list-reset">
            <li>This website is <a href="https://github.com/ombegov/zerotrust/" target="_blank">open source</a> and built using the <a href="https://designsystem.digital.gov" target="_blank">U.S. Web Design System</a>.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>